body {
background: url("/img/anime1.jpg");
background-size: cover;
}

.container-anime {
box-sizing: border-box;
display: block;
margin-left: auto;
margin-right: auto;
padding: 50px;
width: 100%;
column-count: 2;
column-width: 500px;
column-gap: 50px;
}

.filter form{
background-color: #624182;
border-radius: 7px;
color: #ffffff;
display: block;
line-height: 50px;
text-align: center;
width: 40%;
margin-left: 30%;
margin-top: 50px;
}

.filter input {
  border: none;
  border-radius: 3px;
  background: #ffffff;
  color: #000000;
  width: 50%;
  height: 42px;
  padding-left: 15px;
}

.anime {
position: relative;
padding: 20px;
margin-bottom: 20px;
border-radius: 4px;
color: #055160;
background-color: #cff4fc;
break-inside: avoid;
}

.anime a{
color: #ffffff;
background-color: #624182;
display: inline-block;
text-align: center;
text-decoration: none;
cursor: pointer;
padding: 10px;
font-size: 16px;
border-radius: 4px;
}

.anime a:hover{
color: #ffffff;
}

h1 {
color: #ffffff;
text-align: center;
}

.title{
color: #055160;
text-align: left;
font-weight: bold;
}

button{
color: #ffffff;
background-color: #624182;
display: inline-block;
text-align: center;
text-decoration: none;
cursor: pointer;
padding: 10px;
font-size: 16px;
border: none;
}

.anime_img {
   width:280px;
   height:300px;
   margin:10px;
}