<div th:fragment="header">


        <nav class="d-inline-flex mt-4 mt-md-3 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/account">Аккаунт</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/anime">Аниме</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/anime/add">Добавить аниме</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/admin">Администратор</a>
            <a class="py-2 text-dark text-decoration-none" href="/about">О нас</a>
        </nav>
    </div>
</div>