<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Администратор</title>
    <link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/style.css">
</head>

<body>
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Пароль</th>
        </thead>
        <div th:each="el : ${allUsers}">
            <tr>
                <td th:text="${el.id}"></td>
                <td th:text="${el.username}"></td>
                <td th:text="${el.password}"></td>
                <td>
                    <form action="${pageContext.request.contextPath}/admin" method="post">
                        <input type="hidden" name="userId" value="${user.id}"/>
                        <input type="hidden" name="action" value="delete"/>
                        <button type="submit">Удалить</button>
                    </form>

                </td>

            </tr>
        </div>
    </table>
    <a href="/">Главная</a>
</div>
</body>
</html>